img {
    max-width: 230px;
}
.example > .code-snippet {
    color: red;
    background-color: black;
    position: relative;
    bottom: 40px;
    left: 12px;
    width: 75%;
    padding: 5px;
}
table {
    max-width: 55%;
    border: 1px solid red;
    margin: 0 auto;
}
td {
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}